* {
  box-sizing: border-box;
}
body {
  width: 1020px;
  margin: 0;
}

.wrapper {
  width: 940px;
  margin: auto;
}

header {
  display: flex;
  justify-content: left;
  background-color: #f06c64;
}

h1 {
  margin: 70px -2px 0px;
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}

.header__text {
  margin-top: 27px;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
}

main {
  background-color: #f06c64;
}
form {
  width: 620px;
  padding-top: 22px;
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

input {
  width: 619px;
  height: 38px;
  border-radius: 5px;
  margin-bottom: 17px;
  padding-left: 13px;
  background-color: #d6564f;
  border: none;
}

.containar-form {
  display: flex;
  flex-direction: row;
}

.contact__info {
  width: 294px;
  height: 250px;
  flex-grow: 1;
}

#describe__info {
  height: 203px;
  padding-bottom: 169px;
}

::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

::-moz-placeholder {
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
} /* Firefox 19+ */

:-moz-placeholder {
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
} /* Firefox 18- */

:-ms-input-placeholder {
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

.button__submit {
  width: 60px;
  height: 33px;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 15px;
  background-color: #d6564f;
  color: white;
}

.button__submit:hover {
  color: #d6564f;
}

h3 {
  padding: 7px 0px 0px;
  margin: 19px 0px 0px;
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}

.contact__text {
  margin: 7px 0px 22px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

.contacts-links__item a {
  margin-left: 4px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

.location {
  list-style: url("./assets/img/location-icon.png");
}

.location:hover {
  list-style: url("./assets/img/location-icon-bl.svg");
}

.tel {
  list-style: url("./assets/img/phone-icon.png");
}

.tel:hover {
  list-style: url("./assets/img/phone-icon-bl.svg");
}

.email {
  list-style: url("./assets/img/mail-icon.png");
}

.email:hover {
  list-style: url("./assets/img/mail.svg");
}

.contacts__tel::before {
  content: url("");
  margin-left: -2px;
  margin-right: 11px;
}

.contacts__email::before {
  content: url("");
  margin-right: 10px;
  margin-left: -3px;
}

.bg__bottom {
  width: 1020px;
  height: 6px;
  background-color: #ea676b;
}

.bg__footer {
  width: 1020px;
  height: 76px;
  display: flex;
  align-items: center;
  background-color: #2d303a;
}

.wrapper_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  background-image: url("./assets/img/Copyright.png");
  width: 94px;
  height: 15px;
  margin: 0px 1px;
  background-repeat: no-repeat;
}

.icons {
  width: 152px;
  height: 35px;
  display: flex;
  justify-content: space-between;
}

.icon__item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon__border {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #666d89;
}

.img-hover:hover {
  opacity: 0.4;
}

a {
  text-decoration: none;
}
