* {
  box-sizing: border-box;
}
body {
  width: 1020px;
  margin: 0, auto;
  padding: 0;
}

.header2 {
  height: 870px;
  background-color: #2d303a;
  display: flex;
  justify-content: center;
}

.header-bottom2 {
  height: 6px;
  background-color: #323746;
}

.containar2 {
  width: 960px;
  height: 1600px;
  margin: 0, auto;
  padding-left: 12px;
}

.text2 {
  margin-top: 27px;
  width: 940px;
  height: 25px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
}

nav {
  width: 289px;
  height: 35px;
  margin-top: 8px;
  padding-left: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-text {
  padding-left: 6px;
  padding-right: 6px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: center;
}

.nav-text:hover {
  color: #c5c5c5; /* Цвет при наведении на кнопку */
}

.button2 {
  display: flex;
  border-radius: 5px;
  background-color: #2d303a;
  border: 1px solid #666d89;
  cursor: pointer;
}

.button2:hover {
  border: 1px solid #c5c5c5; /* Цвет при наведении на кнопку */
}

.portfolio {
  margin-top: 60px;
  padding-top: 10px;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}

.container-main2 {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 22px;
  justify-content: center;
}

.container-main2 > div {
  width: 220px;
  height: 187px;
  align-items: center;
}

.footer2 {
  height: 728px;
  background-color: #f2f2f2;
}

.footer-top2 {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-left: 41px;
  margin-top: 66px;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}

.footer-text2 {
  width: 940px;
  height: 57px;
  margin-left: 39px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
}

.photos-containar2 {
  padding-top: 43px;
  padding-left: 38px;
  margin-bottom: 19px;
  padding-right: 38px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
}

.photos-containar2 > div {
  width: 300px;
  height: 300px;
  align-items: center;
}

.bottom-container2 {
  width: 940px;
  height: 133px;
  margin-left: 37px;
  display: flex;
  justify-content: space-between;
}

.text-block2 {
  width: 300px;
  height: 143px;
  display: flex;
  flex-direction: column;
}

.top_text2 {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}

.random-text2 {
  height: 40px;
  margin-top: 10px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

.icons-row2 {
  width: 160px;
  height: 38px;
  margin-top: 20px;
  padding-left: 3px;
  padding-top: 4px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ellipse {
  width: 32px;
  height: 32px;
  padding-bottom: 6px;
  padding-top: 8px;
  border-radius: 16px;
  border: 1px solid #666d89;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.ellipse:hover {
  background-color: #f0d8d9; /* Цвет при наведении на кнопку */
}

.footer-bottom2 {
  width: 1020px;
  height: 6px;
  background-color: #ffffff;
}
