* {
  box-sizing: border-box;
}
body {
  width: 1020px;
  margin: 0, auto;
  padding: 0;
}

.header1 {
  height: 89px;
  background-color: #2d303a;
}

.wrapper-singolo1 {
  width: 940px;
  margin: 0 auto;
  display: flex;
}

.header-top1 {
  width: 940px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.logo1 {
  margin-top: 3px;
  font-size: 25px;
  line-height: 6px;
  color: #ffffff;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
}

.star_colored {
  color: #e36861;
}

.nav__item1 {
  text-decoration: none;
  margin-left: 31px;
  cursor: pointer;
  font-size: 12px;
  line-height: 6px;
  color: #ffffff;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
  align-items: stretch;
}

.nav__item1:not(.active):hover {
  color: #f06c64; /* Цвет при наведении на ссылку */
}

.active {
  color: #f06c64;
}

.nav__menu1 {
  padding-left: 12px;
  display: flex;
  width: 415px;
}

.nav__items {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav__li {
  width: 93px;
  list-style: none;
}

.header-bottom1 {
  width: 1020px;
  height: 6px;
  background-color: #323746;
}

.main1 {
  height: 600px;
  width: 1020px;
  background-color: #f06c64;
}

.carusel {
  width: 940px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.slider-block1 {
  width: 95%;
  margin: 0 auto;
  height: 585px;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.item-wrapper {
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 2%;
  left: 0%;
  animation: 0.7s ease-in-out;
}

.visible,
.next {
  display: flex;
}

.next {
  position: absolute;
  top: 0;
  width: 80%;
}

.control {
  position: absolute;
  top: 20%;
  bottom: 0;
  width: 0%;
  cursor: pointer;
  z-index: 2;
}

.control.left {
  left: 0;
  right: auto;
}

.control.right {
  right: 0%;
  left: auto;
}

.arrow.right {
  right: 40%;
}

.arrow {
  display: inline-block;
  position: absolute;
  top: 39%;
  transform: translateY(-50%);
}

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.arrow {
  display: inline-block;
  position: absolute;
  top: 39%;
  transform: translateY(-50%);
}

.arrow-img1 {
  cursor: pointer;
  opacity: 33%;
}

.arrow-img1:hover {
  opacity: 90%; /* Цвет при наведении на стрелку */
}

.first-phone {
  width: 250px;
  height: 565px;
  margin-bottom: 54px;
  margin-left: 48px;
  background-image: url(./assets/img/vertical-phone.png);
  display: flex;
  z-index: 2;
}

.invisible {
  display: none;
}

.screen_vertical {
  position: absolute;
  top: 135px;
  left: 64px;
}

.screen_horizontal {
  position: absolute;
  top: 178px;
  left: 421px;
}

.main-bottom1 {
  height: 15px;
  background-color: #f06c64;
}

.second-phone {
  width: 554px;
  height: 371px;
  margin-left: 4px;
  margin-right: 50px;
  margin-top: -130px;
  align-items: center;
  display: flex;
  background-image: url(./assets/img/HorisontalPhone.png);
}

.footer1 {
  height: 495px;
  background-color: #f2f2f2;
}

.footer-wrapper1 {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.services1 {
  margin: 0;
  padding-top: 71px;
  padding-left: 4px;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}

.footer-top1 {
  width: 940px;
  height: 50px;
  margin-top: 28px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
}

.first-section1 {
  width: 940px;
  height: 90px;
  margin-top: 34px;
  display: flex;
  flex-direction: row;
}

.icon1 {
  width: 64px;
  height: 90px;
}

.circle {
  width: 59px;
  height: 59px;
  margin-left: 3px;
  margin-top: 3px;
  border-radius: 29px;
  border: 2px solid #666d89;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pen-img {
  width: 32px;
  height: 32px;
}

.bulb-img {
  width: 22px;
  height: 32px;
}

.top__text1 {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}

.text1 {
  padding-top: 8px;
  letter-spacing: 0.235px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

.section-text1 {
  width: 220px;
  height: 90px;
  margin-left: 19px;
  margin-right: 17px;
}

.fainalsection-text1 {
  width: 220px;
  height: 90px;
  margin-left: 19px;
}

.footer-bottom1 {
  width: 1020px;
  height: 6px;
  background-color: #ffffff;
}
