* {
  box-sizing: border-box;
}
body {
  max-width: 1020px;
  margin: 0, auto;
  padding: 0;
}

header {
  height: 89px;
  background-color: #2d303a;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
  display: flex;
}

.header-top {
  width: 940px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 3px;
  font-size: 25px;
  line-height: 6px;
  color: #ffffff;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
}

span {
  color: #e36861;
}

a {
  text-decoration: none;
  margin-left: 31px;
  cursor: pointer;
  font-size: 12px;
  line-height: 6px;
  color: #ffffff;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
  align-items: stretch;
}

a:hover {
  color: #f06c64; /* Цвет при наведении на ссылку */
}

nav {
  padding-left: 12px;
  display: flex;
  width: 415px;
}

ul {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

li {
  width: 93px;
  list-style: none;
}

.header-bottom {
  width: 1020px;
  height: 6px;
  background-color: #323746;
}

main {
  height: 600px;
  width: 1020px;
  background-color: #f06c64;
}

.left-arrow {
  width: 20px;
  height: 585px;
  align-items: center;
  display: flex;
}

.right-arrow {
  width: 20px;
  height: 585px;
  margin-left: 51px;
  padding-left: 2px;
  padding-top: 2px;
  align-items: center;
  display: flex;
}

.slider-block {
  width: 940px;
  height: 585px;
  display: flex;
  align-items: center;
}

.arrow-block {
  width: 20px;
  height: 25;
  padding-left: 2px;
  padding-top: 3px;
}

.arrow-img {
  cursor: pointer;
  opacity: 33%;
}

.arrow-img:hover {
  opacity: 90%; /* Цвет при наведении на стрелку */
}

.first-phone {
  width: 250px;
  height: 565px;
  margin-bottom: 54px;
  margin-left: 48px;

  background-image: url(./assets/img/vertical-phone.png);

  display: flex;
  z-index: 2;
}

.screen-first {
  margin-top: 134px;
  margin-left: 16px;
}

.screen-second {
  margin-top: 57px;
  margin-left: 124px;
}

.main-bottom {
  height: 15px;
  background-color: #f06c64;
}

.second-phone {
  width: 554px;
  height: 371px;
  margin-left: 4px;
  margin-top: -75px;
  align-items: center;
  display: flex;
  background-image: url(./assets/img/HorisontalPhone.png);
}

footer {
  height: 495px;
  background-color: #f2f2f2;
}

.footer-wrapper {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  margin: 0;
  padding-top: 71px;
  padding-left: 4px;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}

.footer-top {
  width: 940px;
  height: 50px;
  margin-top: 28px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
}

.first-section {
  width: 940px;
  height: 90px;
  margin-top: 34px;
  display: flex;
  flex-direction: row;
}

.icon {
  width: 64px;
  height: 90px;
}

.circle {
  width: 59px;
  height: 59px;
  margin-left: 3px;
  margin-top: 3px;
  border-radius: 29px;
  border: 2px solid #666d89;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pen-img {
  width: 32px;
  height: 32px;
}

.bulb-img {
  width: 22px;
  height: 32px;
}

h3 {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}

.text {
  padding-top: 8px;
  letter-spacing: 0.235px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

.section-text {
  width: 220px;
  height: 90px;
  margin-left: 19px;
  margin-right: 17px;
}

.fainalsection-text {
  width: 220px;
  height: 90px;
  margin-left: 19px;
}

.footer-bottom {
  width: 1020px;
  height: 6px;
  background-color: #ffffff;
}
